.playerBet {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
     width: 700px;
     height: max-content;
     min-height: 425px;
    /* margin-top: 1rem; */
    /* border: 1px solid black; */
}

